* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 44px;
}

img {
	float: left;
}

.width100 {
	width: 100%;
}

.marginAuto {
	margin: auto;
}

.textCenter {
	text-align: center;
}

.bgf2 {
	background: #f2f2f2;
}

.fw500 {
	font-weight: 500;
}
.fw700 {
	font-weight: 700;
}

img {
	width: 100%;
}

a {
	color: black;
	text-decoration: none;
}

.web_displayNone {
	display: none;
}

.floatL {
	float: left;
}

.overflowAuto {
	overflow: auto;
}





/* ---------- Web Width ----------*/

.web_3col {
	width: 264px;
}

.web_4col {
	width: 362px;
}

.web_5col {
	width: 460px;
}

.web_6col {
	width: 558px;
}

.web_7col {
	width: 656px;
}

.web_8col {
	width: 754px;
}

.web_10col {
	width: 950px;
}

.web_12col {
	width: 1146px;
}



/* ----- Web Font Size ----- */

.web_fs14 {
	font-size: 14px;
}
.web_fs20 {
	font-size: 20px;
}
.web_fs24 {
	font-size: 24px;
}
.web_fs28 {
	font-size: 28px;
}



/* ----- Web Line Height ----- */

.web_lh16 {
	line-height: 16px;
}
.web_lh32 {
	line-height: 32px;
}
.web_lh46 {
	line-height: 46px;
}



/* ----- Web Margin Top ----- */

.web_mt20 {
	margin-top: 20px;
}
.web_mt100 {
	margin-top: 100px;
}
.web_mt150 {
	margin-top: 150px;
}



/*HEADER*/

.header {
	height: 10vh;
	position: fixed;
	background: #fff;
	z-index: 99;
}

.header_forPos {
	width: 100%;
	height: 100%;
	position: relative;
}

.header_logo {
	width: 140px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header_menuWeb {
	display: inline-block;
	position: absolute;
	height: 100%;
	right: 4%;
}
.header_menuWeb span {
	line-height: 8vh;
	display: inline-block;
	margin-right: 20px;
}
.header_menuWeb span:last-child {
	margin-right: 0;
}

.app_a {
	color: #183790;
}
.app_a:hover {
	color: #ccc;
}

.briefIntro {
	padding-top: 10vh;
	position: fixed;
	width: 100%;
	background: #fff;
	z-index: 98;
	height: 40px;
}

.banner {
	padding-top: calc(10vh + 60px);
	width: 700.8px;
}



/*CONTENT*/

.vedioDiv {
	margin: auto;
	margin-top: 150px;
}

.qr_web {
	position: relative;
}

.qr_text_web {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
}

.contact_part1, .contact_part2 {
	margin-right: 30px;
}
.contact_part1, .contact_part2, .contact_part3 {
	/*height: 392px;*/
}

.contact1_image, .contact2_image, .contact3_image {
	background: #fff8c9;
	height: 310px;
	background-image: url(../image/contact1.png);
	background-size: 100% auto;
}
.contact2_image {
	background: #fbf1f1;
	background-image: url(../image/contact2.png);
	background-size: 100% auto;
}
.contact3_image {
	background: #d9e6ff;
	background-image: url(../image/contact3.png);
	background-size: 100% auto;
}

.contact1_btn, .contact2_btn, .contact3_btn {
	margin-top: -30px;
	width: 240px;
	height: 60px;
	background: #fadf8d;
	border-radius: 100px;
	font-size: 24px;
	line-height: 60px;
	z-index: 10;
}
.contact2_btn {
	background: #fe9d9d;
}
.contact3_btn {
	background: #a6adff;
}

.donationInfo {
	padding-top: 100px;
	padding-bottom: 150px;
}

.textLink {
	font-size: 20px;
	text-decoration: underline;
}

.joinUs_web {
	margin-bottom: 10px;
}

input:focus {
	outline: none;
	border: 3px solid rgba(0, 0, 0, 0);
}

.partnerLogos {
	padding-top: 40px;
	padding-bottom: 40px;
}



.footer {
	bottom: 0;
	padding-bottom: 30px;
}

.socialMedia {
	display: inline-block;
	position: relative;
}

.socialMedia div {
	width: 54px;
	height: 54px;
	float: left;
	margin: 0 24px;
}



/* SLIDES */
/* Source: https://codepen.io/dfitzy/pen/xZqGVo */

.sliderDiv {
	height: 525.6px;
}

.slider {
	margin: 0 auto;
}

.slide_viewer {
	width: 700.8px;
	height: 525.6px;
	overflow: hidden;
	position: relative;
	margin: auto;
}

.slide_group {
	height: 100%;
	position: relative;
	width: 100%;
}

.slide {
	display: none;
	height: 100%;
	position: absolute;
	width: 100%;
}

.slide:first-child {
	display: block;
}

.slide:nth-of-type(1) {
	background: #D7A151;
}

.slide:nth-of-type(2) {
	background: #F4E4CD;
}

.slide:nth-of-type(3) {
	background: #C75534;
}

.slide:nth-of-type(4) {
	background: #D1D1D4;
}

.slide_buttons {
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
}

a.slide_btn {
	color: #474544;
	font-size: 150px;
	margin: 0 0.4em;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
	color: #428CC6;
	cursor: pointer;
}

.directional_nav {
	height: 525.6px;
	margin: 0 auto;
	max-width: 700.8px;
	position: relative;
	top: -525.6px;
}

.previous_btn {
	bottom: 0;
	left: -100px;
	margin: auto;
	position: absolute;
	top: 0;
}

.next_btn {
	bottom: 0;
	margin: auto;
	position: absolute;
	right: -100px;
	top: 0;
}

.previous_btn, .next_btn {
	cursor: pointer;
	height: 65px;
	opacity: 0.7;
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-ms-transition: opacity 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
	width: 65px;
}

.previous_btn:hover, .next_btn:hover {
	opacity: 1;
}

.titleMB {
	margin-bottom: 20px;
}

.textClick {
	border: none;
	background: #f2f2f2;
	font-size: 20px;
	text-decoration: underline;
}

.clickCopyBtn {
	border-radius: 4px;
	padding: 4px 8px;
	background: #ddd;
	border: 1px solid #ccc;
	margin-left: -10px;
}

.mediaImg {
	float: left;
}
.mediaImg:nth-child(2), .mediaImg:nth-child(3) {
	margin-left: 30px;
	margin-bottom: 0;
}

.memberName {
	width: 20%;
	text-align: center;
	float: left;
	font-size: 20px;
	height: 60px;
	line-height: 60px;
}

.finalMB {
	margin-bottom: 150px;
}



@media (max-width: 980px) {

	/* ----- App Width ----- */

	.app_wid100 {
		width: 100%;
	}

	.app_6col {
		width: 84.127%;
	}

	.app_4col {
		width: 53.44%;
	}



	/* ----- App Font Size ----- */

	.app_fs38 {
		font-size: 38px;
	}
	.app_fs46 {
		font-size: 46px;
	}
	.app_fs52 {
		font-size: 52px;
	}



	/* ----- App Line Hieght ----- */

	.app_lh64 {
		line-height: 64px;
	}

	.app_lh82 {
		line-height: 82px;
	}


	/* ----- App Margin Top ----- */

	.app_mt30 {
		margin-top: 66px;
	}

	.app_mt50 {
		margin-top: 50px;
	}

	.app_mt70 {
		margin-top: 70px;
	}

	.app_mt100 {
		margin-top: 100px;
	}

	.app_mt140 {
		margin-top: 140px;
	}



	/* ----- App Padding ----- */

	.app_pd100 {
		padding-top: 100px;
		padding-bottom: 100px;
	}





	.app_displayNone {
		display: none;
	}
	.web_displayNone {
		display: block;
	}



	/*HEADER*/

	.header {
		height: 10vh;
		position: fixed;
		background: #fff;
		z-index: 99;
	}

	.header_forPos {
		width: 100%;
		height: 100%;
		position: relative;
	}

	.header_logo {
		width: 320px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.header_menu {
		width: 80px;
		height: 80px;
		position: absolute;
		top: 50%;
		right: 7.9365%;
		transform: translate(0, -50%);
	}

	.briefIntro {
		padding-top: 10vh;
		font-size: 42px;
		position: fixed;
		width: 100%;
		background: rgb(255,255,255);
		z-index: 98;
		height: 66px;
	}

	.banner {
		padding-top: 0;
	}

	.sliderDiv {
		height: 700px;
	}

	.slide_viewer {
		width: 100%;
		height: 700px;
	}

	.directional_nav {
	  height: 700px;
	  max-width: 100%;
	  top: -700px;
	}

	.previous_btn, .next_btn {
		height: 100px;
		width: 100px;
	}

	.header_menuApp_forPos {
		position: relative;
	}
	.header_menuApp {
		position: fixed;
		height: 100vh;
		width: 100%;
		background: #fff;
		z-index: 101;
	}
	.header_menuApp_textForPos {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.header_menuApp_textForPos div {
		height: 200px;
		line-height: 200px;
	}
	.menuApp_closeBtn {
		width: 100px;
		position: absolute;
		right: 60px;
		top: 60px;
	}
	.menuApp_displayNone {
		display: none;
	}



	/*CONTENT*/

	.titleMB {
		margin-bottom: 40px;
	}

	.vedioDiv {
		margin: auto;
		margin-top: 140px;
	}

	.joinUs {
		/*font-size: 52px;*/
		/*padding-top: calc(10vh + 96px);*/
		padding-top: calc(10vh);
	}

	.qr_code {
		float: none;
	}

	.contact1_image, .contact2_image, .contact3_image {
		background: #fff8c9;
		height: 830px;
		background-image: url(../image/contact1.png);
		background-size: 100% auto;
	}
	.contact2_image {
		background: #fbf1f1;
		background-image: url(../image/contact2.png);
		background-size: 100% auto;
	}
	.contact3_image {
		background: #d9e6ff;
		background-image: url(../image/contact3.png);
		background-size: 100% auto;
	}

	.contact1_btn, .contact2_btn, .contact3_btn {
		margin-top: -70px;
		width: 600px;
		height: 140px;
		background: #fadf8d;
		border-radius: 100px;
		font-size: 58px;
		line-height: 140px;
		z-index: 10;
	}
	.contact2_btn {
		background: #fe9d9d;
	}
	.contact3_btn {
		background: #a6adff;
	}

	.textLink {
		font-size: 46px;
		text-decoration: underline;
	}

	.joinUs_app {
		margin-bottom: 20px;
	}



	.footer {
		bottom: 0;
		padding-bottom: 70px;
	}

	.socialMedia {
		display: inline-block;
		position: relative;
	}

	.socialMedia div {
		width: 120px;
		height: 120px;
		float: left;
		margin: 0 14px;
	}

	.textClick {
		background: #fff;
		font-size: 46px;
	}

	.clickCopyBtn {
		border-radius: 8px;
		padding: 4px 16px 8px 16px;
		border: 2px solid #ccc;
		margin-left: -60px;
	}	


	.previous_btn {
		left: 50px;
	}
	.next_btn {
		right: 50px;
	}

	.mediaImg:nth-child(2), .mediaImg:nth-child(3) {
		margin-left: 0;
		margin-top: 20px;
	}

	.memberName {
		width: 50%;
		font-size: 46px;
		height: 120px;
		line-height: 120px;
	}

	.finalMB {
		margin-bottom: 140px;
	}

}